.traffic-light {
  width: 6rem;
  height: 15rem;
  background-color: black;
  border-radius: .3rem;
  padding-top: 1rem;
  display: inline-block;
  margin: 1rem;
}

.light {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.off {
  background-color: rgb(87, 87, 87);
  box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.5);
}
.red {
  background-color: red;
  box-shadow: none;
}
.yellow {
  background-color: yellow;
  box-shadow: none;
}
.green {
  background-color: green;
  box-shadow: none;
}
