body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  display: inline-block;
  padding:5px;
  background: #eee;
  position: relative;
  left:calc(50% - 300px);
  margin-top:20px;
  border-radius:5px;
  box-shadow:  0px 0px 10px 0 rgba(0, 0, 0, .2);
}
.formWrapper{
  background:#fdfdfd;
  width:600px;
  height:500px;
  border-radius:5px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.formWrapper .title{
  text-align: center;
  font-size: 30px;
  padding:30px 0;
}
.formWrapper .form{
  width:400px;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.formWrapper .form > div:not(.buttons){
  padding: 10px 0;
}
.formWrapper .form label{
  display: block;
  margin-bottom:5px;
  font-size:16px;
}
.formWrapper .form input{
  width:300px;
  padding:10px;
}
.formWrapper .form i{
  margin-right:2px;
}
.formWrapper .buttons {
  margin-top:20px;
  text-align: center;
}
.formWrapper .buttons a{
  margin-right:20px;
  padding:10px 0;
  width:100px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color:#fff;
  width:300px;
  border-radius:2px;
  background: #333;
 }
.formWrapper .buttons a:hover{
  background: #2fede0;
  background: -moz-linear-gradient(-45deg,  #2fede0 10%, #7db9e8 100%);
  background: -webkit-linear-gradient(-45deg,  #2fede0 10%,#7db9e8 100%);
  background: linear-gradient(135deg,  #2fede0 10%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fede0', endColorstr='#7db9e8',GradientType=1 );
}
.links{
  margin-top:10px;
}
.links a{
  color:#0c90f7;
  text-decoration: underline;
  cursor: pointer;
}
.links a:hover{
  text-decoration: none;
  color:#2fede0;
}
.social{
  display: block;
  text-align: center;
  padding-top:10px;
  color:#0c90f7;
  font-size:20px;
}
.social i:hover{
  cursor:pointer;
  color:#2fede0;
}